
<div style="min-height: 120px; margin: 5px;margin-top: 20px; margin-bottom: 20px;">
    <!-- <div class="collapse collapse-horizontal" id="collapseWidthExample"> -->
      
        <div class="card text-center card-body" style="width:850px; height: 600px;">
            <div class="card-header">
              Update Application
            </div>
            <div class="card-body" >
                <form [formGroup]="applicationform" (ngSubmit)="submit()">
                  
                  
                    <div class="row mb-3 form-group">
                      <label for="appname" class="col-sm-2 col-form-label" >App Name</label>
                      <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="appname" value={{appName?.value}}>
                        
                      </div>
                    </div>
                    <div class="row mb-3 form-group">
                      <label for="Description" class="col-sm-2 col-form-label">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" id="Description" formControlName="description" [class.is-invalid]="description?.invalid && description?.touched"></textarea>
                        <div *ngIf="description?.invalid && description?.touched">
                          <span class="text-danger">Enter some description about app </span>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3 form-group">
                      <label for="release" class="col-sm-2 col-form-label">Release Date</label>
                      <div class="col-sm-10">
                        <input  readonly class="form-control-plaintext" id="release" value={{releaseDate?.value}}>
                       
                      </div>
                    </div>
                    <div class="row mb-3 form-group">
                      <label for="version" class="col-sm-2 col-form-label">Version</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id="release" formControlName="version" [class.is-invalid]="version?.invalid && version?.touched">
                        <div *ngIf="version?.invalid && version?.touched">
                          <span class="text-danger">Please enter the version</span>
                        </div>
                      </div>
                    </div>
                    <div class=" row mb-3 form-group">
                      <label for="genre" class="col-sm-2 col-form-label">Genre</label>
                      <div class="col-sm-10">
                          <select class="form-select" aria-label="Default select example" [class.is-invalid]="genre?.invalid && genre?.touched" formControlName="genre">
                            <option selected>Select Your favourite Genre</option>
                            <option value="Health">Health</option>
                            <option value="Women Interest">Women Interest</option>
                            <option value="Games" >Games</option>
                          </select>
                          <div *ngIf="genre?.invalid && genre?.touched">
                            <span class="text-danger">Don't miss to select your favourite genre</span>
                          </div>
                      </div>
                    </div>
                    <div class="row mb-3 form-group">
                        <label for="download" class="col-sm-2 col-form-label">Download Count</label>
                        <div class="col-sm-10">
                          <input type="number" readonly class="form-control-plaintext" id="download" value={{downloadCount?.value}}>
                         
                        </div>
                    </div>
                    <div class="row mb-3 form-group">
                        <label for="avg" class="col-sm-2 col-form-label">Average Rating</label>
                        <div class="col-sm-10">
                          <input type="number" readonly class="form-control-plaintext" id="avg" value={{averageRating?.value}}>
                         
                        </div>
                    </div>
                    <div class="row mb-3 form-group">
                        <label for="flexSwitchCheckDefault" class="col-sm-2 col-form-label">Visibilty</label>
                        <div class="col-sm-10 form-check form-switch" style="margin-top: 7px;">
                        
                            <input class="form-check-input" type="checkbox" (change)="isTrue()" id="flexSwitchCheckDefault">
                            
                          </div>
                    </div>
                   
                    <button type="submit" (click)="openVerticallyCentered(content)"   class="btn btn-primary" ngbTooltip="Clicking on this will update your application" tooltipClass="my-custom-class" [disabled]="applicationform.invalid">Update</button>
                  </form>
                  <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Application Updated Successfully</h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                      <p>Your Application is Updated Successfully...</p>
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                    </div>
                  </ng-template>

                    
                 
            </div>
          </div>
      
    <!-- </div> -->
  </div>
