<div style="min-height: 120px; margin-top: 20px; margin-bottom: 20px; margin-right: 50px; margin-left: 50px;">
<div class="card mb-3" style="display: flex; justify-content: center; align-items: center;">

    
    <div class="card-body" *ngIf="selectedapp">
      <h5 class="card-title">{{selectedapp.appName}} Details</h5>
      <p class="card-text">Description : {{selectedapp.description}}</p>
      <p class="card-text">Release Date : {{selectedapp.releaseDate}}</p>
      <p class="card-text">Version : {{selectedapp.version}}</p>
      <p class="card-text">Genre : {{selectedapp.genre}}</p>
      <p class="card-text">Visibility : {{selectedapp.visibility}}</p>
      <p class="card-text">Download Count : {{selectedapp.downloadCount}}</p>
      <span>Average Rating : </span> <ngb-rating [(rate)]="selectedapp.averageRating" [disabled]="true">
        <ng-template let-fill="fill">
          <span class="defaultHeart" [class.filled]="fill === 100">
            <span class="paintedHeart" [style.width.%]="fill">♥</span>♥
          </span>
        </ng-template>
      </ngb-rating>
      <p style="margin-top: 15px;">Comments:</p>
      <ngb-carousel style=" height:100px; width: 500px; color:beige; background-color: black;" *ngIf="selectedapp.comments.length">
        <ng-template ngbSlide *ngFor="let c of selectedapp.comments" style="display: flex; justify-content: center; align-items: center;">
         
          <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px;">{{c.commentStatement}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="color: red; margin-left:5px" (click)="deletecomment(c._id)">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
          </svg></div>
        </ng-template>
        
      </ngb-carousel>
      <div *ngIf="printerror">
        <ngb-alert type="danger" >{{printerror}}</ngb-alert>
     </div>
      <br>
      <div>
        <p>Add more Comments..</p>
        <form [formGroup]="commentform" (ngSubmit)="addcomment()">
                  
                  
          
            <div class="row mb-3 form-group">
              <label for="commentStatement" class="col-sm-4 col-form-label">Comment Statement</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="commentStatement" formControlName="commentStatement" ></textarea>
                
              </div>
            </div>
            <div class="row mb-3 form-group">
              <label for="rating" class="col-sm-3 col-form-label">Rating</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="rating" formControlName="rating" >
                
              </div>
            </div>
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
      </div>

    </div>
    <button class="btn btn-primary" (click)="goback()">Back</button>
</div>
</div>



